* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f6fa;
    color: #333;
    line-height: 1.7;
}

/* Containers */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* Hero Section */
.about-hero {
    background: linear-gradient(90deg, #000000, #7900dc);
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.about-hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.about-hero p {
    font-size: 18px;
    opacity: 0.9;
}

/* About Content */
.about-content {
    padding: 60px 0;
    background: #fff;
}

.about-content h2 {
    background-image: linear-gradient(90deg, #000000, #7900dc);
    background-clip: text;
    color: transparent;
    display: inline-block;
   
    margin: 30px 0 10px;
    font-size: 26px;

}
.flag {
    margin-top: 20px;
    width: auto;
    height: 20px;
}
.about-content p {
    font-size: 16px;
    color: #;
}

.about-content ul {
    margin-left: 20px;
    margin-top: 10px;
}

.about-content ul li {
    margin-bottom: 8px;
}

/* Features */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.feature-box {
    background: #f1ddfd;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    color: #6e01c8;
    transition: 0.3s;
}

.feature-box:hover {
    background: linear-gradient(90deg, #000000, #7900dc);
    color: white;
    transform: translateY(-5px);
}

/* Footer */
.about-footer {
    background:linear-gradient(90deg, #000000, #7900dc);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}
