/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* ===== BANNER ===== */
.banner {
  /*background: linear-gradient(135deg, #0f766e, #1e3a8a, #14532d); */
  background: linear-gradient(90deg, #000000, #7900dc);

  color: white;
  padding: 16px 20px 50px;
  position: relative;
}

/* Peacock feather glow */
.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at top right, rgba(255,215,0,0.18), transparent 60%);
  pointer-events: none;
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo img {
  height: 90px;   /* reduce size */
  width: auto;
}

/* Navigation buttons */
.nav-links {
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  padding: 6px 12px;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background: rgb(176, 7, 255);
  color: #ffffff;
  border-color: rgb(170, 0, 255);
}

/* ===== HERO SECTION ===== */
.hero {
  margin-top: 35px;
  max-width: 100%px;
  text-align: centre;
}

.hero h1 {
  font-size: 30px;
  margin-bottom: 12px;
}

.hero p {
  font-size: 15px;
  line-height: 1.6;
  opacity: 0.95;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-item: centre;
    gap: 12px;
  }

  .hero h1 {
    font-size: 30px;
  }

  .logo img {
  height: 70px;
  }
}

